@model IEnumerable<Product>

@{ 
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>
                    @p.ProductId
                </td>
                <td>
                    @p.Name
                </td>
                <td>
                    @p.Category
                </td>
                <td>
                    @p.Price.ToString("F2")
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@p.ProductId">Редактировать</a>
                        <input type="hidden" name="productId" value="@p.ProductId" />
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Создать новый товар</a>